.HomePage {
  display: grid;
  grid-template-columns: 230px 3fr;
  padding: 3rem;
  background-image: linear-gradient(to bottom right, #0c0d11, #141517, #1f2024);
  height: 100vh;
}
.Home {
  background-image: linear-gradient(to left, #18191d, #2a2b2f);
  padding: 2rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 30px;
  column-gap: 40px;
}
.Title {
  grid-column: 1/-1;
  font-size: 1.5rem;
  color: #f5f5f5;
}
.Title :nth-child(1) {
  display: none;
  font-size: 2rem;
}
.Home > :nth-child(2) {
  grid-column: 1/-1;
}
.HomeChart {
  border-radius: 20px;
  background-color: #464749;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f20246c;
  z-index: 2;
  height: 100%;
  width: 100%;
}
@media (max-width: 1232px) {
  .Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Title :nth-child(1) {
    display: block;
    cursor: pointer;
  }
  .HomePage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 1000px) {
  .Home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .HomeChart {
    height: 350px;
  }
  .HomePage {
    height: 100%;
  }
}
@media (max-width: 640px) {
  .HomePage {
    padding: 3rem 1rem;
  }
}
@media (max-width: 440px) {
  .Home {
    padding: 1rem;
    padding-bottom: 2rem;
  }
}
