.Title {
  grid-column: 1/-1;
  font-size: 1.5rem;
  color: #f5f5f5;
  width: 100%;
}
.Title :nth-child(1) {
  display: none;
  font-size: 2rem;
}

@media (max-width: 1232px) {
  .Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Title :nth-child(1) {
    display: block;
    cursor: pointer;
  }
}
